* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section-title {
  font-family: "Neue Montreal", sans-serif;
  font-size: 5.5em;
  text-transform: uppercase;
  margin-bottom: 10vh;
}

body {
  background-color: #F8F4F9;
}
