.about-container {
  height: auto;
  width: 100%;

  display: flex;
  flex-direction: column;
  padding: 5vh 10vw 0 10vw;

  @media screen and (max-width: $layout-breakpoint-xsmall) {
    padding: 0 10vw;
  }

  .about-text {
    display: flex;

    font-family: "Sechs", sans-serif;
    font-size: 1.6em;
    margin-bottom: 8vh;
    padding-bottom: 10px;
    color: $black;

    overflow: hidden;

    &:nth-last-child(1) {
      margin-bottom: 0;
    }


    @media screen and (max-width: $layout-breakpoint-small) {
      font-size: 1.4em;
      margin-bottom: 5vh;
    }

    @media screen and (max-width: $layout-breakpoint-xsmall) {
      font-size: 1.2em;
      margin-bottom: 5vh;
    }

    span {
      transform: translateY(130%);
      transition: 1s transform cubic-bezier(0.76, 0, 0.24, 1);

      &.reveal-text {
        transform: translateY(0);
      }
    }
  }
}
