.about-container {
  min-height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  padding: 13vh 10vw;

  .about-text {
    font-family: "Neue Montreal", sans-serif;
    font-size: 2em;
    margin-bottom: 8vh;

    &:nth-last-child(1) {
      margin-bottom: 0;
    }
  }
}
