.gallery-container {
  min-height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  padding: 13vh 10vw 5vh 13vh;

  .gallery {
    margin-bottom: 3vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    grid-gap: 3vh;

    height: 90vh;
    width: 100%;

    .picture {
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;

        clip-path: inset(0% 0% 0% 100%);
        transition: clip-path 1s cubic-bezier(0.77, 0, 0.175, 1);

        &.reveal-img {
          clip-path: inset(0% 0% 0% 0%);
        }
      }

      &.picture-1 {
        grid-area: 1 / 1 / 7 / 7;
      }

      &.picture-2 {
        grid-area: 1 / 7 / 13 / 13;
      }

      &.picture-3 {
        grid-area: 7 / 1 / 13 / 7;
      }

      &.picture-4 {
        grid-area: 1 / 1 / 13 / 8;
      }

      &.picture-5 {
        grid-area: 1 / 8 / 13 / 13;
      }

      &.picture-6 {
        grid-area: 1 / 1 / 7 / 13;
      }

      &.picture-7 {
        grid-area: 7 / 1 / 13 / 6;
      }

      &.picture-8 {
        grid-area: 7 / 6 / 13 / 13;
      }

      &.picture-9 {
        grid-area: 1 / 1 / 13 / 8;
      }

      &.picture-10 {
        grid-area: 1 / 8 / 6 / 13;
      }

      &.picture-11 {
        grid-area: 6 / 8 / 13 / 13;
      }

      &.picture-12 {
        grid-area: 1 / 6 / 13 / 13;
      }

      &.picture-13 {
        grid-area: 1 / 1 / 13 / 6;
      }
    }
  }
}
