.hero-container {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;
  width: 100%;

  .hero-content {
    height: 100vh;
    width: 100%;
    padding: 13vh 10vw;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-family: "Sechs", sans-serif;
    color: $black;
    text-transform: uppercase;

    @media screen and (max-width: $layout-breakpoint-small) {
      height: 90vh;
    }

    @media screen and (max-width: $layout-breakpoint-xsmall) {
      height: 85vh;
    }

    .bar-description {
      display: flex;
      justify-content: end;
      overflow: hidden;

      span {
        text-align: end;
        font-size: 2em;
        font-weight: 300;
        opacity: 0;

        @media screen and (max-width: $layout-breakpoint-small) {
          font-size: 1.6em;
        }

        @media screen and (max-width: $layout-breakpoint-tablet) {
          font-size: 1.4em;
        }

        @media screen and (max-width: $layout-breakpoint-xsmall) {
          font-size: 1.2em;
        }
      }
    }

    .hero-title {
      display: flex;
      justify-content: center;
      font-family: "Sechs", sans-serif;
      font-style: italic;
      font-weight: bold;
      font-size: 20.5vw;
      padding-top: 7vh;
      overflow: hidden;

      span {
        transform: translateY(100%);
      }
    }

    .bar-infos {
      display: flex;
      align-items: end;
      justify-content: space-between;

      .bar-openings {
        div {
          overflow: hidden;

          span {
            display: block;
            font-size: 1.3em;
            font-weight: 300;
            transform: translateY(100%);

            @media screen and (max-width: $layout-breakpoint-small) {
              font-size: 1.1em;
            }

            @media screen and (max-width: $layout-breakpoint-xsmall) {
              font-size: 1em;
            }
          }

          &:nth-last-child(1) {
            margin-top: 7vh;
          }
        }
      }

      .motto-mantra {
        display: flex;
        font-size: 2em;
        font-weight: 300;

        @media screen and (max-width: $layout-breakpoint-small) {
          font-size: 1.6em;
        }

        @media screen and (max-width: $layout-breakpoint-tablet) {
          font-size: 1.4em;
        }

        @media screen and (max-width: $layout-breakpoint-xsmall) {
          font-size: 1.2em;
        }

        span {
          opacity: 0;
        }
      }
    }
  }
}
