.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: -50vh;
  height: 10vh;
  width: 100%;
  padding: 0 5vw;
  z-index: 100;

  .motto-logo {
    height: 7vh;
    cursor: pointer;

    @media screen and (max-width: $layout-breakpoint-xsmall) {
      height: 5vh;
    }
  }

  .nav-links {
    display: flex;
    font-family: "Sechs", sans-serif;
    mix-blend-mode: difference;
    color: $black;

    div {
      cursor: pointer;
      display: flex;
      margin-right: 5vw;

      &:nth-last-child(1) {
        margin-right: 0;
      }

      span {
        display: block;
        font-size: 1.2em;
        transition: transform 0.3s ease;

        @media screen and (max-width: $layout-breakpoint-xsmall) {
          font-size: 1em;
        }
      }
    }

    .about:hover span:nth-child(odd) {
      transform: translateY(-5px);
    }

    .about:hover span:nth-child(even) {
      transform: translateY(5px);
    }

    .about:hover span:nth-child(1) {
      transform: translateY(5px);
    }

    .menu:hover span:nth-child(odd) {
      transform: translateY(-5px);
    }

    .menu:hover span:nth-child(even) {
      transform: translateY(5px);
    }

    .gallery:hover span:nth-child(odd) {
      transform: translateY(5px);
    }

    .gallery:hover span:nth-child(even) {
      transform: translateY(-5px);
    }
  }
}
